{% extends 'base.html.twig' %}

{% block title %}Séries{% endblock %}

{% block body %}
    <h1>Toutes les séries</h1>

    <div class="container">
        {% for program in programs %}
            <div>
                <h2>{{ loop.index }} / <a href="{{ path('wild_show_program', {id: program.id}) }}">{{ program.title }}</a>
                    - Catégorie : {{ program.category.name }}</h2>
                <p>{{ program.summary }}</p>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}

        <p class="back-link">
            <a href="{{ path('app_index') }}">
                Retour à l'accueil
            </a>
        </p>
    </div>
{% endblock %}