{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} | Saison {{ season.number }}{% endblock %}

{% block body %}
    <h1>Saison {{ season.number }} de {{ program.title }}</h1>


    <div class="container">
        <hr />
        <p>{{ season.description }}</p>

        <div class="episode-list">
        <h2>Liste des épisodes</h2>
            <ul>
                {% for episode in episodes %}
                    <li>Épisode {{ episode.number }} : {{ episode.title }}</li>
                {% else %}
                    Aucun épisode trouvé
                {% endfor %}
            </ul>
        </div>

        <p class="back-link">
            <a href="{{ path('wild_show_program', {programId: program.id}) }}">
                Retour à la liste des saisons
            </a>
        </p>

    </div>
{% endblock %}

{% block stylesheets %}{{ encore_entry_link_tags("season") }}{% endblock %}